<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briqueterie Slaoui</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="js/scripts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <section id="header">
      <a href="#">
        <img src="/public/img/logo.png" class="logo">
      </a>
      <div>
        <ul id="navbar">
          <li>
            <a href="index.ejs">Accueil</a>
          </li>
          <li>
            <a href="shop.ejs">Produits</a>
          </li>
          <li>
            <a class="active" href="about.ejs">A propos</a>
          </li>
          <li>
            <a href="cart.ejs">Panier</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="about-section">
      <h2>
        La Briqueterie Slaoui
      </h2>
      <div>
        <img src="/public/img/quisommesnous.png">
      </div>
      <div class="text-div">
        <p>La Société Briqueterie Slaoui est une société anonyme marocaine, elle a été fondée en 1944 par la famille portugaise GAGOU, et a été reprise en 1972 par un groupe d’industriels marocains. La capacité de production de La Briqueterie Slaoui lui confère un placement parmi les premiers dans le Royaume.
          Sa mission est la production de briques creuse à base d’argile.
          A la base, La Briqueterie Slaoui a démarrée ces travaux par une première unité tout en adaptant une stratégie de diversification et de la typologie des briques produites, et elle s’est dotée actuellement de la deuxième et la troisième unité assurant le besoin et la qualité au niveau de type de brique produite.
          Depuis sa création, La Briqueterie Slaoui assure la production et la distribution de ses produits partout au Maroc, offrant une accessibilité complète à nos clients dans le Royaume, ainsi qu’une flexibilité de transport et de logistique assurant les commandes les plus exigeantes.
        </p>
      </div>
    </section>
    <footer class="section-p1">
      <div class="col">
        <img class="logo" src="/public/img/logo-white-12.png">
      </div>
      <div>
        <h4>Contact</h4>
        <p><strong>Adresse:</strong> Route De Meknes – Oulja, Salé B.P 260 Rabat</p>
        <p><strong>Service client:</strong> +212 660 048 825 / +212 663 555 990</p>
        <p><strong>Email:</strong> contact@briqueterieslaoui.ma</p>
      </div>
    </footer>
  </body>
</html>