<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Briqueterie Slaoui</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <script src="js/scripts.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  <body>
    <section id="header">
      <a href="#">
        <img src="/public/img/logo.png" class="logo">
      </a>
      <div>
        <ul id="navbar">
          <li>
            <a class="active" href="index.ejs">Accueil</a>
          </li>
          <li>
            <a href="shop.ejs">Produits</a>
          </li>
          <li>
            <a href="about.ejs">A propos</a>
          </li>
          <li>
            <a href="cart.ejs">Panier</a>
          </li>
        </ul>
      </div>
    </section>
    <section id="hero">
      <h2>Nous vous garantissant la meilleure qualité de fabrication grâce à notre expertise et processus innovés</h2>
      <button href="shop.ejs">Achetez Maintenent</button>
    </section>
    <section id="product1" class="section-p1">
      <h2>Type de produits</h2>
      <div class="pro-container">
        <div class="pro">
          <img src="./public/img/6TN.png">
          <div class="des">
            <h5>Brique à 6 Trous</h5>
          </div>
        </div>
        <div class="pro">
          <img src="/public/img/8TN.png">
          <div class="des">
            <h5>Brique à 8 Trous</h5>
          </div>
        </div>
        <div class="pro">
          <img src="/public/img/12TN.png">
          <div class="des">
            <h5>Brique à 12 Trous</h5>
          </div>
        </div>
      </div>
    </section>
    <footer class="section-p1">
      <div class="col">
        <img class="logo" src="/public/img/logo-white-12.png">
      </div>
      <div>
        <h4>Contact</h4>
        <p><strong>Adresse:</strong> Route De Meknes – Oulja, Salé B.P 260 Rabat</p>
        <p><strong>Service client:</strong> +212 660 048 825 / +212 663 555 990</p>
        <p><strong>Email:</strong> contact@briqueterieslaoui.ma</p>
      </div>
    </footer>
  </body>
</html>